<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AtomModeButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,76}</string>
                <key>spriteSourceSize</key>
                <string>{252,76}</string>
                <key>textureRect</key>
                <string>{{1,828},{252,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BombDiffuser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{1159,129},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Buy40UnitsContainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,76}</string>
                <key>spriteSourceSize</key>
                <string>{495,76}</string>
                <key>textureRect</key>
                <string>{{1,672},{495,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Buy5UnitsContainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,76}</string>
                <key>spriteSourceSize</key>
                <string>{495,76}</string>
                <key>textureRect</key>
                <string>{{671,1},{495,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CurrentScoreContainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,94}</string>
                <key>spriteSourceSize</key>
                <string>{126,94}</string>
                <key>textureRect</key>
                <string>{{1168,1},{126,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DiffuseAtomButtom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,76}</string>
                <key>spriteSourceSize</key>
                <string>{328,76}</string>
                <key>textureRect</key>
                <string>{{1,750},{328,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DiffuseAtomButtonDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,76}</string>
                <key>spriteSourceSize</key>
                <string>{328,76}</string>
                <key>textureRect</key>
                <string>{{671,79},{328,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DiffuserContainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,53}</string>
                <key>spriteSourceSize</key>
                <string>{68,53}</string>
                <key>textureRect</key>
                <string>{{1225,344},{68,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DisabledButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,65}</string>
                <key>spriteSourceSize</key>
                <string>{192,65}</string>
                <key>textureRect</key>
                <string>{{828,454},{192,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameModeNameAtom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,51}</string>
                <key>spriteSourceSize</key>
                <string>{190,51}</string>
                <key>textureRect</key>
                <string>{{1119,236},{190,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameModeNameNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,51}</string>
                <key>spriteSourceSize</key>
                <string>{190,51}</string>
                <key>textureRect</key>
                <string>{{1172,216},{190,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GameTitleContainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,94}</string>
                <key>spriteSourceSize</key>
                <string>{216,94}</string>
                <key>textureRect</key>
                <string>{{1,906},{216,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeavyButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,65}</string>
                <key>spriteSourceSize</key>
                <string>{192,65}</string>
                <key>textureRect</key>
                <string>{{895,235},{192,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LightButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,65}</string>
                <key>spriteSourceSize</key>
                <string>{192,65}</string>
                <key>textureRect</key>
                <string>{{895,429},{192,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainSquareContainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,669}</string>
                <key>spriteSourceSize</key>
                <string>{668,669}</string>
                <key>textureRect</key>
                <string>{{1,1},{668,669}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ModeTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,52}</string>
                <key>spriteSourceSize</key>
                <string>{126,52}</string>
                <key>textureRect</key>
                <string>{{1225,216},{126,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NewGameContainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,51}</string>
                <key>spriteSourceSize</key>
                <string>{127,51}</string>
                <key>textureRect</key>
                <string>{{1172,408},{127,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NormalModeButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,76}</string>
                <key>spriteSourceSize</key>
                <string>{252,76}</string>
                <key>textureRect</key>
                <string>{{671,157},{252,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RemoveAdsButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,65}</string>
                <key>spriteSourceSize</key>
                <string>{217,65}</string>
                <key>textureRect</key>
                <string>{{828,235},{217,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RemoveAdsIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{895,623},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RestartIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{255,828},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShareIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{925,157},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TileBase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{671,235},{155,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TileDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{671,393},{155,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TileNum1024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{671,551},{155,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TileNum128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{331,750},{155,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TileNum131072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{1001,79},{155,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TileNum16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{498,672},{155,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TileNum16384.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{656,709},{155,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TileNum2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{489,829},{155,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TileNum2048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{647,866},{155,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TileNum256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{805,866},{155,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TileNum32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{814,709},{155,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TileNum32768.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{963,866},{155,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TileNum4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{962,236},{155,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TileNum4096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{962,394},{155,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TileNum512.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{962,552},{155,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TileNum64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{972,709},{155,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TileNum65536.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{1121,866},{155,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TileNum8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{1120,548},{155,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TileNum8192.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{1130,706},{155,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TimerButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,51}</string>
                <key>spriteSourceSize</key>
                <string>{118,51}</string>
                <key>textureRect</key>
                <string>{{1119,428},{118,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Game2048.png</string>
            <key>size</key>
            <string>{1286,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76585a2f3763ff02c36bbb0d3e5fdd43:68bb8c7959c9087f53c258159b478ae0:83e2f7ee12c58622622e730ee722e887$</string>
            <key>textureFileName</key>
            <string>Game2048.png</string>
        </dict>
    </dict>
</plist>
